@import url(estilos/carrossel.css);
@import url(estilos/viagens.css);
@import url(estilos/formulário.css);

.inicio {
    background: linear-gradient(45deg, rgba(221, 202, 193, 0.9), rgba(114, 50, 7, 0.9));
}

.principal {
    width: 100%;
    position: relative;
}

.aviao {
    width: 100%;
}

.titulo {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 4vw;
    color: white;
    text-shadow: 8px 8px 2px rgba(168, 39, 39, 0.9);
    transform: translateY(-50%);
    z-index: 11;
}

.explore {
    position: absolute;
    top: 42%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 3vw;
}

.oferta {
    position: absolute;
    top: 80%;
    left: 15%;
    background-color: rgb(133, 62, 76);
    font-size: 3vw;
    color: white;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 15px;
    z-index: 10;
}

.saiba-mais {
    position: absolute;
    top: 95%;
    left: 83%;
    background-color: brown;
    font-size: 2.5vw;
    color: white;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    z-index: 10;
}

.linha-personalizada {
    border: 0;
    height: 4px;
    background-color: #3498db;
    margin: 20px 0;
}

.botao-vermelho {
    display: inline-block;
    background-color: #FF4136;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-enviar {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-enviar:hover {
    background-color: #2980b9;
}

footer {
    font-size: 1vw;
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: white;
}



/* Responsividade para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .titulo {
        font-size: 5vw;
        left: 5%;
    }

    .explore {
        top: 40%;
        right: 1%;
        font-size: 3.5vw;
    }

    .oferta {
        font-size: 4vw;
        left: 5%;
    }

    .saiba-mais {
        font-size: 3vw;
        left: 80%;
        transform: translate(-50%, -50%);
        top: 90%;
    }
}
.first{
    background: linear-gradient(45deg, rgba(22, 8, 2, 0.9), rgba(114, 50, 7, 0.9));
    font-size: 2.5vw;
}
/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .titulo {
        font-size: 6vw;
        left: 5%;
    }

    .explore {
        top: 38%;
        right: 5%;
        font-size: 4vw;
    }

    .oferta {
        width: 350px;
        font-size: 3vw;
        left: 15%;
    }

    .saiba-mais {
        width:120px;
        font-size: 2.5vw;
        left: 80%;
        transform: translate(-50%, -50%);
        top: 90%;
    }
    .first{
        background: linear-gradient(45deg, rgba(22, 8, 2, 0.9), rgba(114, 50, 7, 0.9));
        font-size: 3.5vw;
    }
}


